.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  background: #F9F9F9;
}

.modalStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: 25px;
  min-height: 25px;
  margin-bottom: 12px;
}

.modalTitle {
  font-size: 18px;
  font-weight: 510;
  margin: 5px 0 15px 0;
  color: #000;
}

.modalButton {
  height: auto;
  padding: 5px 20px;
  color: #fff;
  background: #1C77FF;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease 0s;
}

.modalButton:hover {
  background: #1065e4;
}

@media (max-width: 440px) {
  .modal {
    border-radius: 20px 20px 0px 0px;
  }
}