.btn {
    color: #fff;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    border: none;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    gap: 10px;
}

/*--------------------Button Size--------------------*/

.button--size-s {
    font-size: 13px;
    font-weight: 500;
    height: 26px;
    padding: 5px 16px;
}

.button--size-m {
    font-size: 13px;
    font-weight: 400;
    height: 32px;
    padding: 8px 16px;
}

.button--size-l {
    font-size: 13px;
    height: 40px;
    padding: 12px 23.5px;
}

.button--size-str {
    height: 32px;
    padding: 8px;
    width: 100%;
}
  
/*--------------------/Button Size--------------------*/

/*--------------------Text-Align--------------------*/

.button--align-left {
    text-align: left;
}

.button--align-center {
    text-align: center;
}

.button--align-right {
    text-align: right;
}
  
/*--------------------/Text-Align--------------------*/

/*--------------------Border-Radius--------------------*/

.button--rounded-small {
    border-radius: 4px;
}

.button--rounded-medium {
    border-radius: 16px;
}

.button--rounded-large {
    border-radius: 32px;
}

/*--------------------/Border-Radius--------------------*/

/*--------------------Disabled--------------------*/

.btn-disabled {
    cursor: not-allowed;
    opacity: 0.55;
    color: #dcdcdc;
    transition: all 0.3s ease 0s;
}

.btn-disabled:hover {
    opacity: 0.75;
    cursor: not-allowed;
}

/*--------------------/Disabled--------------------*/

/*--------------------Variants--------------------*/

.button--type-primary {
  background: #000;
}

.button--type-secondary {
  background: #6C6C6C;
}

.button--type-outline {
  color: #000;
  border: 1px solid #232323;
  background: transparent;
}

.button--type-tertiary {
  color: #000;
  background: transparent;
}

.button--type-successfully {
  background: #4BB34B;
}

.button--type-danger {
  background: #E64646;
}

.button--type-primary:hover {
  background: #0e0d0d;
}

.button--type-secondary:hover {
  background: #636161;
}
  
.button--type-outline:hover {
  background: #f5f5f5;
}

.button--type-tertiary:hover {
  background: #f5f5f5;
}

.button--type-successfully:hover {
  background: #47c547;
}

.button--type-danger:hover {
  background: #ee3939;
}
/*--------------------/Variants--------------------*/
