.cell {
  background: #232323;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.noHover {
  pointer-events: none !important;
  cursor: default !important;
}

.noHover:hover {
  pointer-events: none !important;
  cursor: default !important;
  background: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
}

.rowLeftContent {
  display: flex;
  flex-direction: column;
}

.left { color: #fff; }
.center { color: #fff; }
.right { color: #fff; }
.bottomLeft { color: #fff; }