.header {
  background-color: #333 !important;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  height: auto;
}

.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.nav a:hover {
  color: rgb(9, 174, 224);
}



.exampleLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #818C99;
  transition: all 0.3s ease 0s;
}