.header {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 auto;
}

.headerWhite {
  background: #fff;
}

.headerWhite .headerTitle {
  color: #222;
}

.headerBlack {
  background: #000;
}

.headerBlack .headerTitle {
  color: #fff;
}

.actionLeft {
  color: #818C99;
  font-size: 15px;
  line-height: 133.33%;
  letter-spacing: -0.24px;
}

.title {
  font-size: 15px;
  font-weight: 500;
  line-height: 133.33%;
  letter-spacing: -0.24px;
}