.inner {
  padding: 15px 0;
}

.innerWhite {
  background: #fff;
}

.innerBlack {
  background: #232323;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}

.itemInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.itemBlack > .itemInfo > .itemTitle {
  color: #fff;
}

.itemWhite > .itemInfo > .itemTitle {
  color: #000;
}

.itemTitle {
  font-size: 15px;
  line-height: 133.33%;
  letter-spacing: -0.24px;
}

.itemData {
  font-size: 15px;
  line-height: 133.33%;
  letter-spacing: -0.24px;
  color: #818C99;
}