.inputWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input {
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 133.33%;
  letter-spacing: -0.24px;
  outline: none;
}

.input--type-black {
  border: 1px solid #404040;
  background: #232323;
  color: #fff;
}

.input--type-black::placeholder {
  color: #979797;
}

.input--type-white {
  border: 1px solid #ccc;
  background: #fff;
  color: #232323;
}

.error {
  color: #ff0000;
  font-size: 14px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #E64646;
  background: rgba(255, 109, 109, 0.35);
  margin-top: 5px;
}

.small {
  .label {
    font-size: 12px;
  }

  .input {
    padding: 8px;
    font-size: 14px;
  }
}

.large {
  .label {
    font-size: 18px;
  }

  .input {
    padding: 12px;
    font-size: 20px;
  }
}

.xsmall {
  .label {
    font-size: 10px;
  }

  .input {
    padding: 6px;
    font-size: 12px;
  }
}
