.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  z-index: 30;
  width: 400px;
}

@media (max-width: 440px) {
  .modalContent {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  transition: all 0.3s ease 0s;
}

.closeButton:hover {
  color: #1976D2;
}