.modal {
    border-radius: 20px;
    background: inherit;
}

.white {
    background: #f9f9f9;
}

.white > .modalTop > .modalTitle {
    color: #000;
}

.white > .modalTokensList > .tokenItem > .tokenDetail > .tokenItemAmount {
    color: #000;
}

.white > .modalTokensList > .tokenItemActive > .tokenDetail > .tokenItemAmount {
    color: #000;
}

.black .modalPayAmount .modalPayAmountInput {
    color: #000;
}

.black > .modalPayAmount > .modalPayAmountToken {
    color: #000;
}

.black {
    background: #1c1c20;
}

.black > .modalTop > .modalTitle {
    color: #fff;
}

.black > .modalTokensList > .tokenItem {
    border: 1px solid #3d3d3d;
}

.black > .modalTokensList > .tokenItem > .tokenDetail > .tokenItemAmount {
    color: #fff;
}

.black > .modalTokensList > .tokenItemActive > .tokenDetail > .tokenItemAmount {
    color: #000;
}

.black .modalPayAmount .modalPayAmountInput {
    background: #3d3d3d;
    color: #000;
}

.black > .modalPayAmount > .modalPayAmountToken {
    color: #fff;
}

.black > .modalPayAmount > .modalPayAmountToken {
  color: #000;
}

.modalTop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    gap: 5px;
    margin-bottom: 24px;
}

.modalTopButton {
    color: #1c77ff;
    font-size: 13px;
    font-weight: 510;
    border: none;
    cursor: pointer;
    padding: 0;
    background: transparent;
}

.modalTopButton:hover {
    color: #055ada;
    background: transparent;
}

.modalTitle {
    font-weight: 760;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.modalTokensList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    list-style-type: none;
    margin-bottom: 60px;
}

.tokenItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}

.tokenItemActive {
    border: 1px solid #f0f0f0;
    background: #dceaff;
}

.tokenItemAmount {
    font-weight: 560;
}

.tokenInfoImg {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.modalPayAmount {
    position: relative;
    margin-bottom: 25px;
}

.modalPayAmountInput {
    border: none !important;
    background: #fff !important;
    border-radius: 10px;
    padding-right: 90px;
    font-size: 18px;
    font-weight: 560;
}

.modalPayAmountToken {
    font-size: 18px;
    font-weight: 560;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.payButton {
    width: 100%;
    height: auto;
    padding: 14px;
    border-radius: 10px;
    background: #1c77ff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 560;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.payButton:hover {
    background: #0459da;
}

@media (max-width: 440px) {
    .modal {
        border-radius: 20px 20px 0px 0px;
    }
}

@media (max-width: 350px) {
    .modalTokensList {
        display: block;
    }
    .tokenItem:not(:last-child) {
        margin-bottom: 15px;
    }
}
