.inner {
  padding: 15px 0;
}

.innerWhite {
  background: #fff;
}

.innerBlack {
  background: #232323;
}

.title {
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 35px;
}

.innerWhite > .title {
  color: #000;
}

.innerBlack > .title {
  color: #fff;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.item > button {
  height: 41.94px;
  width: 70px;
  font-size: 16px;
}

.add {
  display: block;
  font-size: 14px;
  color: #818C99;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.add:hover {
  color: #8198b3;
}

.paymentItemWhite {
  color: #000;
  margin-bottom: 20px;
}

.paymentItemBlack {
  color: #fff;
  margin-bottom: 20px;
}
