.richCell {
  padding: 18px 0;
  border-radius: 10px;
}

.richCellBlack {
  background: #232323;
}

.richCellWhite {
  background: #fff;
}

.richCellTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 2px;
  padding: 0 16px;
}

.richChevron {
  display: flex;
  align-items: center;
  gap: 4px;
}

.richCellTop > .richChevron > a {
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.richCellTopBlack > .richChevron > a {
  color: #fff;
}

.richCellTopBlack > .richChevron > a:hover {
  color: #e0e0e0;
}

.richCellTopWhite > .richChevron > a {
  color: #3b3b3b;
}

.richCellTopWhite > .richChevron > a:hover {
  color: #000;
}

.richCellTopBlack > .richChevron > a > svg {
  fill: #fff;
}

.richCellTopWhite > .richChevron > a {
  color: #000;
}


.richTitle {
  font-size: 16px;
  line-height: 125%;
}

.richCellTopBlack > .richTitle {
  color: #fff;
}

.richCellTopWhite > .richTitle {
  color: #000;
}

.richItem {
  display: flex;
  gap: 12px;
  padding: 8px 16px 16px 16px;
}

.richItemBlack:not(:last-child) {
    border-bottom: 1px solid #373737 !important;
}

.richItemWhite:not(:last-child) {
  border-bottom: 1px solid #EEE !important;
}

.richItemInfo {
}

.richItem > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.richItemTitle {
  font-size: 15px;
  line-height: 133.33%;
  margin-bottom: 1px;
}

.richItemAmount {
  display: block;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.078px;
  margin-bottom: 5px;
}

.richItemCurrency {
  display: block;
  font-size: 13px;
  line-height: 123.07%;
  color: #6D7885;
}

.richItemAmountBlack {
  color: #fff;
}

.richItemAmountWhite {
  color: #000;
}

.richItemTitleBlack {
  color: #fff;
}

.richItemTitleWhite {
  color: #000;
}