.customSelect {
    position: relative;
    width: 315px;
    border-radius: 6px;
    cursor: pointer;
}

.select--type-black {
    color: #fff;
    border: 1px solid #404040;
    border-bottom: none;
    background: #232323;
}

.select--type-white {
    border: 1px solid #ccc;
}

.selectHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    user-select: none;
}

.selectHeader.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selectedValue {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.arrowIcon {
    font-size: 16px;
}

.optionList {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 91%;
    left: -1px;
    width: 100.5%;
    max-height: 200px;
    overflow-y: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.select-item--type-white {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select-item--type-black {
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-bottom: 1px solid #404040;
  background: #232323;
}

.optionList > li:first-child {
  margin-top: 9px;
}

.select-item--type-white > li:hover {
  background-color: #f0f0f0;
}

.select-item--type-black > li:hover {
  background-color: #4e4d4d;
}

.optionItem {
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
}

.optionItem:not(:last-child) {
    margin-bottom: 10px;
}

