.inner {
  padding: 15px 0;
}

.innerWhite {
  background: #fff;
}

.innerWhite > .innerTitle {
  color: #000;
}

.innerBlack {
  background: #000;
}

.innerBlack > .innerTitle {
  color: #fff;
}

.innerTitle {
  margin-bottom: 25px;
}

.item {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.itemLabelWhite {
  color: #000;
}

.itemLabelBlack {
  color: #fff;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.itemText {
  font-size: 15px;
  line-height: 133.33%;
  color: #818C99;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.itemText:hover {
  color: #7288a0;
}