.textArea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  line-height: 133.33%;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.textAreaWhite {
  color: #000;
  background: #fff;
}

.textAreaBlack {
  color: #fff;
  background: #000;
}

.textArea:focus {
  outline: none;
  /* border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); */
}

.textArea.large {
  height: 200px;
}

.textArea.error {
  border-color: #f00;
}
