.pageWrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding: 5px;
}

.header {
  grid-row: 1;
  margin-bottom: 15px;
  padding: 5px;
}

.contentWrapper {
  display: flex;
  grid-template-columns: 0.3fr 1fr;
  width: 100%;
  gap: 20px;
  overflow: auto;
}

.sidebar {
  grid-row: 2;
  grid-column: 1;
  padding: 5px;
}

.main {
  width: 100%;
  padding: 10px;
}

.footer {
  grid-row: 3;
}

@media screen and (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }

  .sidebar {
    grid-row: auto;
    grid-column: auto;
  }
  .header {
    padding: 5px;
  }
  .sidebar {
    padding: 5px;
  }
  .main {
    padding: 5px;
  }
}
